@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.selector-for-some-widget {
  box-sizing: content-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: black;
}

/* Navbar style start */

.header {
  background: url(./img/designer_1.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 900px;
}

.nav-link {
  font-size: 14px;
  line-height: 24px;
  color: #505f98 !important;
}

.nav-link:hover {
  color: black !important;
}

.navbar-brand {
  color: #37447e !important;
}

.btn-primary {
  text-align: center;
  background-color: #111b47;
  border-radius: 2px !important;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #091031;
}

/* Navbar style end */

/* Intro style start  */

.intro {
  margin-top: 253px;
}

.intro-desc {
  color: #505f98 !important;
}

/* Intro style end  */

/* Advantages style start */

.advantages {
  margin-top: 158px;
}

.advantages-desc {
  color: #505f98 !important;
}

.advatages-info-pic {
  background: url(./img/advantages-pic.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.feature {
  background: url(./img/icon.svg);
  background-repeat: no-repeat;
  background-size: 36px;
}

.feature-title {
  margin-top: 50px;
}

/* Advantages style end */

/* Requirements style start */

.requirements {
  margin-top: 100px;
}

.requirements-pic {
  background: url(./img/requirements-pic.jpg);
  background-repeat: no-repeat;
  height: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 515px;
}

.requirements-info {
  margin: 30px;
}

.requirement {
  background: url(./img/icon.svg);
  background-repeat: no-repeat;
  background-size: 48px;
  width: 40%;
  margin-bottom: 60px;
  margin-right: 45px;
}

.feature-title {
  padding-top: 20px;
}

/* Requirements style end */

/* Results style start */

.results {
  margin-top: 140px;
}

.result {
  margin-bottom: 130px;
}

.result-pic-first {
  background: url(./img/result-pic-1.jpg);
  background-repeat: no-repeat;
  height: 390px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 540px;
}

.result-pic-second {
  background: url(./img/result-pic-2.jpg);
  background-repeat: no-repeat;
  height: 390px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 540px;
}

.result-pic-third {
  background: url(./img/result-pic-3.jpg);
  background-repeat: no-repeat;
  height: 390px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 540px;
}

.result-desc {
  color: #505f98 !important;
}

/* Results style end */

/* Price style start */

.price {
  background: url(./img/rectangle.jpg);
  background-position: inherit;
  width: 100%;
}

.price-info {
  padding-bottom: 160px;
}

.price-title {
  margin-top: 200px;
}

.price-desc {
  color: #505f98 !important;
  text-align: center;
  max-width: 490px;
}

/* Price style end */

/* Footer style start */

.footer {
  background: url(./img/rectangle-footer.jpg);
  width: 100%;
}

hr {
  border: none;
  background-color: #cdd1d4;
  color: #cdd1d4;
  height: 1px;
}

/* Footer style end */

/* Media start */

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1199px) {
  .feature-title {
    padding-top: 0px;
    font-size: 20px;
    line-height: 30px;
  }

  .requirement {
    background-size: 30px;
    width: 40%;
  }
/* 
  .feature-desc {
    font-size: 8%;
    font-weight: 400;
  } */
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
}

/* Media end */
